<!-- Banner -->
  <section id="banner" style="padding-top: 1.5em;">
    <div class="content">
      <header>
        <h2 style="font-size: 25pt; margin-bottom: 10px;" title="Welcome to my abode! (dare ye not utter the black tongue of mordor, for the great eye shall turn upon ye and turn ye to nothingness!)">Well hello there!</h2>
      </header>
      <p>I am Soumyadeep Das. I am a first-year PhD student at the <a  target="_blank"  rel="noopener noreferrer" aria-label="Soumyadeep is a PhD at the Centre for Astrophysics Research (CAR), University of Hertfordshire, UK." href="https://www.herts.ac.uk/research/centres/car/extragalactic">Centre for Astrophysics Research (CAR), University of Hertfordshire, United Kingdom</a>, working in <a  target="_blank"  rel="noopener noreferrer" aria-label="Soumyadeep is a PhD in Dr Dan Smith's group working on WEAVE LOFAR." href="https://star.herts.ac.uk/~dsmith/Dan_Smiths_Website/Home.html">Dan Smith's</a> group. I am interested in galaxy formation and evolution, their properties, and active galactic nuclei (AGN). I am currently working on fitting galaxy observations and extracting information about their underlying physical properties. Check out my <a href="{{ 'research' | absolute_url  }}">research</a> page for more. Python snek-noodle is my favorite coding lingo. I love good food, beautiful places, and terrible memes. I am also committed to science communication and outreach. In the long run, I hope to do my bit in making a career in science more accessible to less fortunate kids in India.</p>
      <ul class="actions" style="font-size: smaller;">
        <li><a href="{{ 'resume' | absolute_url  }}" class="button icon fa-file-text">Resume</a></li>
        <li><a href="{{ 'research' | absolute_url  }}" class="button special icon fa-magic">Research</a></li>
      </ul>
    </div>
    <span class="image object">
      <picture>
        <source data-srcset="assets/images/djbsmith_group.webp" type="image/webp" >
        <source data-srcset="assets/images/djbsmith_group.jpg" type="image/jpeg" > 
        <img src="assets/images/djbsmith_group-thumb.jpg" alt="Lunch with the D J B Smith group at University of Hertfordshire" data-src="assets/images/djbsmith_group.jpg"  class="lazyload" />
      </picture>
      
    </span>
  </section>
