<!-- Scripts -->
  <script src="{{ 'assets/js/jquery.min.js' | absolute_url }}"></script>
  <script src="{{ 'assets/js/skel.min.js' | absolute_url }}"></script>
  <script src="{{ 'assets/js/util.js' | absolute_url }}"></script>
  <!--[if lte IE 8]><script src="{{ 'assets/js/ie/respond.min.js' | absolute_url }}"></script><![endif]-->
  <script src="{{ 'assets/js/main.js' | absolute_url }}"></script>

<!-- My Scripts -->

    <script src="{{ 'assets/js/fontloadfallback.js' | absolute_url }}" async=""></script>
    <script src="{{ 'assets/js/ls.unveilhooks.js' | absolute_url }}" async=""></script>
    <script src="{{ 'assets/js/lazysizes.min.js' | absolute_url }}" async=""></script>

    <script src="{{ 'assets/js/lightgallery-all.min.js' | absolute_url }}"></script>

    <script src="{{ 'assets/js/collapse.js' | absolute_url }}"></script>
    <script src="{{ 'assets/js/myscripts.js' | absolute_url }}"></script>

