<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5" />
  <meta property="og:image" content="{% if page.image %}{{ page.image | absolute_url  }}{% else %}{{ site.image | absolute_url  }}{% endif %}">
  <meta property="og:image:width" content="1024" />
  <meta property="og:image:height" content="1014" />
  <meta property="og:type" content="article">

  <meta property="twitter:image" content="{% if page.image %}{{ page.image | absolute_url  }}{% else %}{{ site.image | absolute_url  }}{% endif %}">
  <meta property="twitter:description" content="{% if page.description %}{{ page.description  }}{% else %}{{ site.description  }}{% endif %}">

  <!--[if lte IE 8]><script src="{{ 'assets/js/ie/html5shiv.js' | relative_url }}"></script><![endif]-->

  
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-66HJP1H38P"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-66HJP1H38P');
  </script>

  <style type="text/css">
    a,b,body,center,div,form,h2,header,html,i,img,li,nav,p,section,span,strong,ul{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}header,nav,section{display:block}body{line-height:1}ul{list-style:none}body{-webkit-text-size-adjust:none}*,:after,:before{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}@-ms-viewport{width:device-width}body{-ms-overflow-style:scrollbar}@media screen and (max-width:480px){body,html{min-width:320px}}body{background:#fff}body,input{color:#000;word-spacing:1pt;font-family:"Fira Sans",Helvetica,Arial,sans-serif;font-size:14pt;font-weight:300;line-height:1.45}@media screen and (max-width:1680px){body,input{font-size:12pt}}@media screen and (max-width:1280px){body,input{font-size:11pt}}@media screen and (max-width:360px){body,input{font-size:10pt}}a{border-bottom:dotted 1px;color:#d32f2f;text-decoration:none}b,strong{color:#3d4449;font-weight:600}i{font-style:italic}p{margin:0 0 1.2em 0}h2{color:#3d4449;font-family:"Fira Sans",Helvetica,Arial,sans-serif;font-weight:600;line-height:1.5;margin:0 0 .8em 0}h2{font-size:1.75em}@media screen and (max-width:736px){h2{font-size:1.5em}}hr{border:0;border-bottom:solid 1px rgba(210,215,217,.75);margin:2em 0}form{margin:0 0 .25em 0}input[type=text]{-moz-appearance:none;-webkit-appearance:none;-ms-appearance:none;appearance:none;background:#fff;border-radius:.375em;border:none;border:solid 1px rgba(210,215,217,.75);color:inherit;display:block;outline:0;padding:0 1em;text-decoration:none;width:100%}input[type=text]{height:2.75em}::-webkit-input-placeholder{color:#9fa3a6!important;opacity:1}:-moz-placeholder{color:#9fa3a6!important;opacity:1}::-moz-placeholder{color:#9fa3a6!important;opacity:1}:-ms-input-placeholder{color:#9fa3a6!important;opacity:1}.icon{text-decoration:none;border-bottom:none;position:relative}.icon:before{-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;font-family:FontAwesome;font-style:normal;font-weight:400;text-transform:none!important}.icon-ai{text-decoration:none;border-bottom:none;position:relative}.icon-ai:before{-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;font-family:Academicons;font-style:normal;font-weight:400;text-transform:none!important}.image{border-radius:.375em;border:0;display:inline-block;position:relative}.image img{border-radius:.375em;display:block}ul{list-style:disc;margin:0 0 2em 0;padding-left:1em}ul li{padding-left:.5em}#wrapper{display:-moz-flex;display:-webkit-flex;display:-ms-flex;display:flex;-moz-flex-direction:row-reverse;-webkit-flex-direction:row-reverse;-ms-flex-direction:row-reverse;flex-direction:row-reverse;min-height:100vh}#main{-moz-flex-grow:1;-webkit-flex-grow:1;-ms-flex-grow:1;flex-grow:1;-moz-flex-shrink:1;-webkit-flex-shrink:1;-ms-flex-shrink:1;flex-shrink:1;width:100%}#main>.inner{padding:0 6em .1em 6em;margin:0 auto;max-width:110em}#main>.inner>section{padding:3em 0 2em 0;border-top:solid 2px rgba(210,215,217,.75)}#main>.inner>section:first-of-type{border-top:0!important}@media screen and (max-width:1680px){#main>.inner{padding:0 5em .1em 5em}#main>.inner>section{padding:4em 0 2.7em 0}}@media screen and (max-width:1280px){#main>.inner{padding:0 4em .1em 4em}#main>.inner>section{padding:3em 0 1.5em 0}}@media screen and (max-width:736px){#main>.inner{padding:0 2em .1em 2em}#main>.inner>section{padding:3em 0 1em 0}}#header{display:-moz-flex;display:-webkit-flex;display:-ms-flex;display:flex;border-bottom:solid 5px #f44336;padding:3em 0 1em 0;position:relative}#header>*{-moz-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;margin-bottom:0}#header .logo{border-bottom:0;color:inherit;font-family:"Fira Sans",Helvetica,Arial,sans-serif;font-size:1.125em}@media screen and (max-width:1680px){#header{padding-top:2em}}@media screen and (max-width:736px){#header{padding-top:3.5em}#header .logo{font-size:1.25em;margin:0}}#banner{padding:6em 0 4em 0;display:-moz-flex;display:-webkit-flex;display:-ms-flex;display:flex}#banner .content{-moz-flex-grow:1;-webkit-flex-grow:1;-ms-flex-grow:1;flex-grow:1;-moz-flex-shrink:1;-webkit-flex-shrink:1;-ms-flex-shrink:1;flex-shrink:1;width:50%}#banner .image{-moz-flex-grow:0;-webkit-flex-grow:0;-ms-flex-grow:0;flex-grow:0;-moz-flex-shrink:0;-webkit-flex-shrink:0;-ms-flex-shrink:0;flex-shrink:0;display:block;margin:0 0 2em 4em;width:50%}#banner .image img{height:100%;-moz-object-fit:cover;-webkit-object-fit:cover;-ms-object-fit:cover;object-fit:cover;-moz-object-position:center;-webkit-object-position:center;-ms-object-position:center;object-position:center;width:100%}@media screen and (orientation:portrait){#banner{-moz-flex-direction:column-reverse;-webkit-flex-direction:column-reverse;-ms-flex-direction:column-reverse;flex-direction:column-reverse}#banner .content{-moz-flex-grow:0;-webkit-flex-grow:0;-ms-flex-grow:0;flex-grow:0;-moz-flex-shrink:0;-webkit-flex-shrink:0;-ms-flex-shrink:0;flex-shrink:0;width:100%}#banner .image{-moz-flex-grow:0;-webkit-flex-grow:0;-ms-flex-grow:0;flex-grow:0;-moz-flex-shrink:0;-webkit-flex-shrink:0;-ms-flex-shrink:0;flex-shrink:0;margin:0 0 4em 0;height:25em;max-height:50vh;min-height:18em;width:100%}}#search form{text-decoration:none;position:relative}#search form:before{-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;font-family:FontAwesome;font-style:normal;font-weight:400;text-transform:none!important}#search form:before{-moz-transform:scaleX(-1);-webkit-transform:scaleX(-1);-ms-transform:scaleX(-1);transform:scaleX(-1);color:#111;content:'\f002';display:block;font-size:1.5em;height:2em;line-height:2em;opacity:.325;position:absolute;right:0;text-align:center;top:0;width:2em}#search form input[type=text]{padding-right:2.75em}#sidebar{-moz-flex-grow:0;-webkit-flex-grow:0;-ms-flex-grow:0;flex-grow:0;-moz-flex-shrink:0;-webkit-flex-shrink:0;-ms-flex-shrink:0;flex-shrink:0;background-color:#f5f6f7;font-size:.9em;position:relative;width:26em}#sidebar>.inner{padding:2.22222em 2.22222em 2.44444em 2.22222em;position:relative;width:26em}#sidebar>.inner>*{border-bottom:solid 2px rgba(210,215,217,.75);margin:0 0 1.5em 0;padding:0 0 1.5em 0}#sidebar>.inner>*>:last-child{margin-bottom:0}#sidebar>.inner>.alt{background-color:#eff1f2;border-bottom:0;margin:-2.22222em 0 1em -2.22222em;padding:2.22222em 2.22222em 1em 2.22222em;width:calc(100% + 4.44444em)}@media screen and (max-width:1680px){#sidebar{width:24em}#sidebar>.inner{padding:1.66667em 1.66667em 1.33333em 1.66667em;width:24em}#sidebar>.inner>.alt{margin:-1.66667em 0 1em -1.66667em;padding:1.66667em 1.66667em .6em 1.66667em;width:calc(100% + 3.33333em)}}@media screen and (max-width:1280px){#sidebar{box-shadow:0 0 5em 0 rgba(0,0,0,.175);height:100%;left:0;position:fixed;top:0;z-index:10000}#sidebar>.inner{-webkit-overflow-scrolling:touch;height:100%;left:0;overflow-x:hidden;overflow-y:auto;position:absolute;top:0}#sidebar>.inner:after{content:'';display:block;height:4em;width:100%}}#menu ul{color:#3d4449;font-family:"Fira Sans",Helvetica,Arial,sans-serif;font-family:400;letter-spacing:.075em;list-style:none;margin-bottom:0;padding:0;text-transform:uppercase}#menu ul b{border-bottom:0;color:inherit;display:block;font-size:1em;padding:.625em 0}#menu>ul>li{border-top:solid 1px rgba(210,215,217,.75);margin:.25em 0 0 0;padding:.25em 0 0 0}#menu>ul>li:first-child{border-top:0;margin-top:0;padding-top:0}img{border-radius:50%;border-radius:50%}.avatar{display:block;border-radius:200px;box-sizing:border-box;background-color:#ddd;padding:5px;border:1px solid #cfd8dc}a{text-decoration:none;border:0 none}img{border-radius:2px;text-decoration:none}.myadbox{background:#f96;background:-webkit-linear-gradient(to right,#ff5e62,#f96);background:linear-gradient(to right,#ff5e62,#f96);margin-top:-25px;margin-bottom:20px;padding:5px 20px 2px 20px;border-radius:5px}.myadbox:hover{background:#ffa976;background:-webkit-linear-gradient(to right,#ff7e72,#ffa976);background:linear-gradient(to right,#ff7e72,#ffa976)} 
  </style>

  <!-- Icon Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Bebas+Neue:400|Fira+Sans:300,400,600,300italic|Source+Sans+Pro:400&display=swap" rel="stylesheet" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link href="https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css" rel="stylesheet" crossorigin="anonymous">

  <link rel="stylesheet" href="{{ 'assets/css/lightgallery.min.css' | relative_url }}" media="print" onload="this.media='all'"/>
  
  <link rel="stylesheet" href="{{ 'assets/css/main.min.css' | relative_url }}" media="print" onload="this.media='all'"/>
  <link rel="shortcut icon" type="image/png" href="{{ 'assets/images/favicon.png?' | relative_url }}"/>

  <!-- My Additions -->
  <link rel="stylesheet" href="{{ 'assets/css/collapsing-list.css' | relative_url }}" media="print" onload="this.media='all'">
  <link rel="stylesheet" href="{{ 'assets/css/home-overlay.css' | relative_url }}" media="print" onload="this.media='all'"/>

  {% if site.tags != "" %}
  {% include collecttags.html %}
  {% endif %}

  <!--[if lte IE 9]><link rel="stylesheet" href="{{ 'assets/css/ie9.css' | relative_url }}" /><![endif]-->
  <!--[if lte IE 8]><link rel="stylesheet" href="{{ 'assets/css/ie8.css' | relative_url }}" /><![endif]-->
  {% seo %}
  <meta name="google-site-verification" content="x3ZS3q8-ub6od-EYP-pHfmi7dihgyUqsY9H7UbSxur4" />
  <meta name="google-site-verification" content="asmAvC2H6NgkaTXXne8a352Ga5c3VDH_fiYunatUiNo" />
  <meta name="ahrefs-site-verification" content="569809af3d0627cb66bac3911b3dcec9793477e0d3f2ade96b4099f0bac88833">
</head>
