<!-- Header -->
  <header id="header">
    {% if page.title == "Home" %}
        <a style="font-size: 1em;" href="{{ '#nobanner' | absolute_url }}" class="logo"><strong>{{ site.author.name }}</strong> {{ site.subtitle }}</a>
        {% endif %}

    {% if page.page-level == "mainpage" %}
    <ul style="font-size: 1em;"  class="actions">
                <li><a class="logo" href="{{ '#nobanner' | absolute_url }}" ><strong>Home&nbsp;&nbsp;&nbsp;&nbsp;></strong></a></li>
                <li class="logo"><strong style="color: #999999">{{ page.title }}</strong></li>
            </ul>
        {% endif %}

    
    {% if page.page-level == "repopage" %}
        <ul style="font-size: 1em;"  class="actions">
                <li><a class="logo" href="{{ '#nobanner' | absolute_url }}" ><strong>Home&nbsp;&nbsp;&nbsp;&nbsp;></strong></a></li>
                <li><a class="logo" href="{{ 'repos' | absolute_url }}" ><strong style="color: #777777">Repos&nbsp;&nbsp;&nbsp;&nbsp;></strong></a></li>
                <li class="logo"><strong style="color: #aaaaaa">{{ page.short-title }}</strong></li>
            </ul>
        {% endif %}

        {% if page.page-level == "postpage" %}            
        <ul style="font-size: 1em;"  class="actions">
                <li><a class="logo" href="{{ '#nobanner' | absolute_url }}" ><strong>Home&nbsp;&nbsp;&nbsp;&nbsp;></strong></a></li>
                <li><a class="logo" href="{{ 'blogs' | absolute_url }}" ><strong style="color: #777777">Blogs&nbsp;&nbsp;&nbsp;&nbsp;></strong></a></li>
                <li class="logo"><strong style="color: #aaaaaa">{{ page.short-title }}</strong></li>
            </ul>    
        {% endif %}

        {% if page.page-level == "memepage" %}            
        <ul  style="font-size: 1em;" class="actions">
                <li><a class="logo" href="{{ '#nobanner' | absolute_url }}" ><strong>Home&nbsp;&nbsp;&nbsp;&nbsp;></strong></a></li>
                <li><a class="logo" href="{{ 'memepage' | absolute_url }}" ><strong style="color: #777777">Meme&nbsp;&nbsp;&nbsp;&nbsp;></strong></a></li>
                <li class="logo"><strong style="color: #aaaaaa">{{ page.title }}</strong></li>
            </ul>    
        {% endif %}

         {% if (page.page-level != "repopage") and (page.page-level != "postpage") and (page.page-level != "memepage")%}  
             <section id="search" class="alt">
             <form method="get" action="/search.html">
                <input  style="font-size: 1em;" type="text" name="query" id="search-box" placeholder="Search" aria-label="Search in this site"/>
             </form>
             </section>
        {% endif %}

  </header>
