<!-- Sidebar -->
  <div id="sidebar">
    <div class="inner">

      <!-- Search -->
        <section class="alt">
        <center>
           <img src="{{ site.author.avatar-thumb | absolute_url }}" class="avatar" style="width:100px;height:100px;" alt="{{ site.author.tagline }}" data-echo="{{ site.author.avatar | absolute_url }}"> <br>
          <p><b>{{ site.author.name }}</b><br>{{ site.author.author-bio }}
          <ul class="icons" style="font-size: small;">
              <li><a style="color: #111; font-weight: 500; font-family: 'Source Sans Pro', Roboto, sans-serif;" href=" {{ site.author.ads }} "  target="_blank"  rel="noreferrer"><span class="label">Publications</span></a></li>
              <li style="font-size: xx-small; color: #444;"><span >&#9864;</span></li>
              <li><a style="color: #111; font-weight: 500; font-family: 'Source Sans Pro', Roboto, sans-serif;" href=" {{ site.author.orcid }} " target="_blank"  rel="noopener noreferrer"><span class="label">ORCID</span></a></li>
          </ul>
          </p>
          </center>
        </section>

      <!-- Menu -->
        <nav id="menu">
          <ul style="font-size: small; font-weight: 400; font-family: 'Source Sans Pro',Roboto, sans-serif">
               {% if page.title != "Home" %}
                 <li><a  href="{{ '#nobanner' | absolute_url }}"><i class="fa fa-home"></i>&nbsp;&nbsp;&nbsp;&nbsp;Homepage</a></li>    
              {% else %}
                <li><b><i class="fa fa-home"></i>&nbsp;&nbsp;&nbsp;&nbsp;Homepage</b></li> 
              {% endif %} 

              {% if page.title != "Curriculum Vitae" %}
                 <li><a href="{{ 'resume' | absolute_url }}"><i class="fa fa-file-text-o"></i>&nbsp;&nbsp;&nbsp;&nbsp;Curriculum Vitae</a></li>    
              {% else %}
                <li><b><i class="fa fa-file-text-o"></i>&nbsp;&nbsp;&nbsp;&nbsp;Curriculum Vitae</b></li>    
              {% endif %} 

              {% if page.title != "Research Interests" %}
                 <li><a href="{{ 'research' | absolute_url }}"><i class="fa fa-magic"></i>&nbsp;&nbsp;&nbsp;&nbsp;Research</a></li>    
              {% else %}
                <li><b><i class="fa fa-magic"></i>&nbsp;&nbsp;&nbsp;&nbsp;Research</b></li>  
              {% endif %} 

              {% if page.title != "My Publications" %}
                 <li><a  href="{{ 'publications' | absolute_url }}"><i class="fa fa-paper-plane-o"></i>&nbsp;&nbsp;&nbsp;&nbsp;Publications</a></li>    
              {% else %}
                <li><b><i class="fa fa-paper-plane-o"></i>&nbsp;&nbsp;&nbsp;&nbsp;Publications</b></li>  
              {% endif %} 

              {% if page.title != "Project Repositories" %}
                 <li><a  href="{{ 'repos' | absolute_url }}"><i class="fa fa-code-fork"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Repositories</a></li>    
              {% else %}
                <li><b><i class="fa fa-code-fork"></i>&nbsp;&nbsp;&nbsp;&nbsp;Repositories</b></li>  
              {% endif %} 

              {% if site.keepblogs == true %}
              {% if page.title != "Blog Posts" %}
                 <li><a href="{{ 'blogs' | absolute_url }}"><i class="fa fa-pencil-square-o"></i>&nbsp;&nbsp;&nbsp;&nbsp;Blog Posts</a></li>    
              {% else %}
                <li><b><i class="fa fa-pencil-square-o"></i>&nbsp;&nbsp;&nbsp;&nbsp;Blog Posts</b></li>  
              {% endif %} 
              {% endif %} 

              {% if page.title != "Astrophotography" %}
                 <li><a  href="{{ 'astrophotos' | absolute_url }}"><i class="fa fa-camera"></i>&nbsp;&nbsp;&nbsp;&nbsp;Astrophotography</a></li>   
              {% else %}
                <li><b><i class="fa fa-camera"></i>&nbsp;&nbsp;&nbsp;&nbsp;Astrophotography</b></li>  
              {% endif %} 

              {% if page.title != "Memes from Outer Space" %}
                 <li><a  href="{{ 'memes' | absolute_url }}"><i class="fa fa-smile-o"></i>&nbsp;&nbsp;&nbsp;&nbsp;Memes from Outer Space</a></li>   
              {% else %}
                <li><b><i class="fa fa-smile-o"></i>&nbsp;&nbsp;&nbsp;&nbsp;Memes from Outer Space</b></li>  
              {% endif %} 
          </ul>
        </nav>

         <!-- Section -->
        <section>
          <header class="major">
            <h3 style="border-bottom: none;" >Get in touch</h3>
          </header>
          <ul class="icons" style="font-size: small;">
              <li><a href="mailto:{{ site.email }}" target="_blank" rel="noopener noreferrer"  class="icon fa-envelope"><span class="label">Email</span></a></li>
              <li><a href=" {{ site.author.linkedin }} "  target="_blank"  rel="noreferrer" class="icon fa-linkedin"><span class="label">Linkedin</span></a></li>
              <li><a href=" {{ site.author.twitter }} " target="_blank"  rel="noopener noreferrer" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
              <li style="font-size: large;"><a style="color: #222;" href=" {{ site.author.googlescholar }} " target="_blank"  rel="noopener noreferrer" class="icon-ai ai-google-scholar"><span class="label">Google Scholar</span></a></li>
              <li><a href=" {{ site.author.github }} "  rel="noopener noreferrer" target="_blank" class="icon fa-github"><span class="label">Linkedin</span></a></li>
              <li><a href=" {{ site.author.gitlab }} " target="_blank"  rel="noopener noreferrer" class="icon fa-gitlab"><span class="label">Gitlabs</span></a></li>
              <li style="font-size: large;"><a style="color: #222;" href=" {{ site.author.scopus }} " target="_blank"  rel="noopener noreferrer" class="icon-ai ai-scopus" ><span class="label">ORCID</span></a></li>
          </ul>
        </section>

      <!-- Footer -->

      <!-- Footer -->
        <footer id="footer">
          <p style="color: #666;" class="copyright">&copy; {{ site.title }}. All rights reserved. Version {{ site.myversion }}. Credits - Photo by <a target="_blank"  rel="noopener noreferrer"  href="https://unsplash.com/@krisroller?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"><u>Kristopher Roller</u></a> on <a target="_blank"  rel="noopener noreferrer"  href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"><u>Unsplash</u></a>. Design: <a target="_blank"  rel="noopener noreferrer"  href="https://html5up.net"><u>HTML5 UP</u></a>. Jekyll integration: <a target="_blank"  rel="noopener noreferrer"  href="https://gitlab.com/u/andrewbanchich"><u>Andrew Banchich</u></a>. Hosted on Gitlab Pages.<br><a href=" {{ 'credits' | absolute_url }}">View full credits <u>here</u>.</a></p>
        </footer>

    </div>
  </div>
