<!DOCTYPE HTML>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html lang="en">

{% include head.html %}
<body>
    <link rel="stylesheet" type="text/css" href="assets/css/home-overlay-fonts.css" media="print" onload="this.media='all'">
        <div id="myNav" class="overlay">

        <!-- Button to close the overlay navigation -->

        <!-- Overlay content -->
        <!-- <div class="overlay-content overlay-img wrapper" 
        style="background-image: url(assets/images/banner-bg-img-1-thumb.jpg) center center no-repeat; background-size: cover;"
        data-echo-background="assets/images/banner-bg-img-1.jpg"> -->
        <div class="overlay-content overlay-img wrapper" id="bgimg" 
        style="background-image: url(assets/images/banner-bg-img-1-thumb.jpg) center center no-repeat; background-size: cover;">


              <div class="overlay-inside" >
                <center>
                          <hr class="banner-line">
                      <p class="banner-head">SOUMYADEEP DAS</p>
                          <hr class="banner-line">
                          <br>
                      <p class="banner-body">ASTROPHYSICS. AGN.<br>INTERFEROMETRY.</p>
                              <ul class="banner-icons">
                              <li><p class="banner-body banner-icon-p"><a aria-label="View linkedin profile of Radio Astronomer and Active Galaxy Researcher Soumyadeep Das" href="{{ site.author.linkedin }}" class="icon fa-linkedin" target="_blank" rel="noopener noreferrer" aria-label="Linkedin"></a></p></li>
                              <li><p class="banner-body banner-icon-p"><a aria-label="View github profile of Radio Astronomer and Active Galaxy Researcher Soumyadeep Das" href="{{ site.author.github }}" class="icon fa-github" target="_blank" rel="noopener noreferrer"  aria-label="Github"></a></p></li>
                              <li><p class="banner-body banner-icon-p"><a aria-label="View gitlab profile of Radio Astronomer and Active Galaxy Researcher Soumyadeep Das" href="{{ site.author.gitlab }}" class="icon fa-gitlab" target="_blank" rel="noopener noreferrer"  aria-label="Gitlab"></a></p></li>
                              <li><p class="banner-body banner-icon-p"><a aria-label="View google scholar profile of Radio Astronomer and Active Galaxy Researcher Soumyadeep Das" href="{{ site.author.googlescholar }}" class="icon-ai ai-google-scholar" target="_blank" rel="noopener noreferrer"  aria-label="Google Scholar"></a></p></li>
                              <li><p class="banner-body banner-icon-p"><a aria-label="View twitter profile of Radio Astronomer and Active Galaxy Researcher Soumyadeep Das" href="{{ site.author.twitter }}" class="icon fa-twitter" target="_blank" rel="noopener noreferrer"  aria-label="Twitter"></a></p></li></ul>

                          <hr style="height: 1px;" class="banner-line">
                  </div>
                  <p class="banner-close banner-head" ><a href="javascript:void(0)" aria-label="Close Banner" class="closebtn btn icon fa-angle-double-down" onclick="closeNav()"></a></p>
                  </center>
                </div>

          </div>
    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">
            <div class="inner">

                {% include header.html %}
                {% include banner.html %} 
                <div style="margin-bottom: 30px; align-items: center;text-align: center;align-self: center;">
                  <a style="color: #707070; text-align: center;  font-size: 14pt;" aria-label="I am Soumyadeep Das, an incoming PhD Student at ICRAR/UWA Perth, interested in Astrophysics, Active Galaxies, Interferometry." href="{{ site.url | absolute_url }}/somethingcool/" ><i>When the moon hits your eye like a big pizza pie... thats amore!</i></a>
                </div> 
                
                {{ content }}


            </div>
        </div>
        {% include sidebar.html %}

    </div>

    {% include footer.html %}

    <script type = "text/javascript" src = "assets/js/jquery.min.js"></script>
      <script type = "text/javascript" src = "assets/js/jquery-ui.min.js"></script>

      <script type="text/javascript">
          if (window.performance) {
          console.info("window.performance works fine on this browser");
        }
          if (performance.navigation.type == 1) {
            console.info( "This page is reloaded" );
            console.log('HitCounter');
                let targetUrl = "https://soumyadeepdas.gitlab.io";
                $.ajax('https://hitcounter.pythonanywhere.com/nocount',{
                    data:{url: targetUrl},
                }).then(count => document.getElementById("mycounter").textContent=count);
          } else {
            console.info( "This page is not reloaded");
            console.log('HitCounter');
                let targetUrl = "https://soumyadeepdas.gitlab.io";
                $.ajax('https://hitcounter.pythonanywhere.com/count',{
                    data:{url: targetUrl},
                }).then(count => document.getElementById("mycounter").textContent=count);
          }

      </script>
        
      <script type = "text/javascript" language = "javascript">
         /* Open */
            function openNav() {
              document.getElementById("myNav").style.height = "100%";
            }

            /* Close */
            function closeNav() {
              document.getElementById("myNav").style.height = "0%";
            } 
            $(document).ready(function() {
                if (window.location.hash.indexOf("nobanner") > -1) {
                  document.getElementById("myNav").style.height = "0%";
                }
              });


            var prevScrollpos = window.pageYOffset;
                  window.onscroll = function() {
                    var currentScrollPos = window.pageYOffset;
                    if (prevScrollpos < currentScrollPos) {
                      document.getElementById("myNav").style.height = "0%";
                    }
                    prevScrollpos = currentScrollPos;
                  } 

            $(document).keyup(function(e) {
                if (e.keyCode == 27 || e.KeyCode == Keys.Down) { document.getElementById("myNav").style.height = "0%"; }   // esc
              });
      </script>


      <script async type="text/javascript">
        $(document).ready(function()  {
            //480, 768, 1080, 1680
            var screenWidth = window.innerWidth;
            var screenHeight = window.innerHeight;
            if (screenWidth > screenHeight) { // Landscape
                    console.log('Landscape')
                if( screenWidth < 600 ){
                    document.getElementById("bgimg").style.backgroundImage='url(assets/images/banner-w600.jpg)';
                    console.log('600');
                } else if( screenWidth < 801 ){
                    document.getElementById("bgimg").style.backgroundImage='url(assets/images/banner-w801.jpg)';
                    console.log('801');
                } else if( screenWidth < 1080 ){
                    document.getElementById("bgimg").style.backgroundImage='url(assets/images/banner-w1080.jpg)';
                    console.log('1080');
                } else if( screenWidth < 1200 ){
                    document.getElementById("bgimg").style.backgroundImage='url(assets/images/banner-w1200.jpg)';
                    console.log('1200');
                } else if( screenWidth < 1400 ){
                    document.getElementById("bgimg").style.backgroundImage='url(assets/images/banner-w1400.jpg)';
                    console.log('1400');
                } else if( screenWidth < 1600 ){
                    document.getElementById("bgimg").style.backgroundImage='url(assets/images/banner-w1600.jpg)';
                    console.log('1600');
                } else{                    
                    document.getElementById("bgimg").style.backgroundImage='url(assets/images/banner-bg-img-1.jpg)';
                    console.log('original');
                }
            } else{ //portrait
                console.log('portrait')
                if( screenWidth < 480 ){
                    document.getElementById("bgimg").style.backgroundImage='url(assets/images/banner-w480.jpg)';
                    console.log('480');
                } else if( screenWidth < 640 ){
                    document.getElementById("bgimg").style.backgroundImage='url(assets/images/banner-w640.jpg)';
                    console.log('640');
                } else if( screenWidth < 800 ){
                    document.getElementById("bgimg").style.backgroundImage='url(assets/images/banner-w800.jpg)';
                    console.log('800');
                } else{                    
                    document.getElementById("bgimg").style.backgroundImage='url(assets/images/banner-w1002.jpg)';
                    console.log('original');
                }
            }
        });

    </script> 


      {% include lazyload.html %}

</body>

</html>
