<!DOCTYPE HTML>
<!--
  Editorial by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html lang="en">

{% include head.html %}
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

<style type="text/css">
    img{
        border-radius: 2px;
        text-decoration: none;
    }

    .img-avatar{
        float: left;
        margin-right:1rem;
    }

</style>

<body>
    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">
            <div class="inner">
         <!--      {% if page.title != "Home" %}    -->
                {% include header.html %}
    <!--           {% endif %} -->
                <!-- Content -->
                <section style="padding-top: 1.5em;">
                      <a name="top"></a>
                    <header class="main">
                        <h2 style="margin: 0 0 0 0; font-size: 2.3em;">{{ page.title }}</h2>
                    </header>
                    <p style="margin-bottom: 0.45em;">
                    {% if page.oc %}
                      <a aria-label="This meme {{ post.image-alt }} is marked {{ post.oc }} by Soumyadeep Das"  style="cursor: default;font-size: small;" class="tag_marker">
                        <span>{{ page.oc }}</span>
                      </a>
                      {% endif %}
                    {% if page.source %}
                      <a  aria-label="This meme {{ post.image-alt }} was obtained from {{ post.source }} by Soumyadeep Das" style="cursor: default; font-size: small;" class="tag_marker">
                        <span>{{ page.source }}</span>
                      </a>
                      {% endif %}
                    </p>

                     {% include post-socialshare.html %}
                  {% if page.image %}
                    <span class="image main">
                        <picture>
                    <source data-srcset="{{ page.image-webp | absolute_url }}" type="image/webp" >
                  <source data-srcset="{{ page.image | absolute_url }}" type="image/jpeg" > 
                  <img src="{{ page.image-thumb | absolute_url }}" alt="Meme titled {{ page.img-alt }} by Soumyadeep Das" data-src="{{ page.image | absolute_url }}"  class="lazyload" />
               </picture>                          
                    </span>
                    {% endif %}

                    {% assign fnarray =  page.image  | split: "/"  %}
                    
                    <ul class="actions">                    
                    {% if page.oc == "OC" %}
                    <li style="font-size: small;"> <a  aria-label="Download meme {{ post.image-alt }} by Soumyadeep Das"  target="_blank" onclick="myFunction()" href="{{ page.image | absolute_url }}" class="button icon fa-download" id="btn-download"  download="soumyadeepdas.gitlab.io-{{ fnarray[4] }}">&nbsp;Save to device</a></li>
                    {% else %}
                    <li style="font-size: small;"> <a  aria-label="Download meme {{ post.image-alt }} by Soumyadeep Das"  target="_blank" href="{{ page.image | absolute_url }}"class="button icon fa-download" download="soumyadeepdas.gitlab.io-{{ fnarray[4] }}">&nbsp;Save to device</a></li>
                    {% endif %}
                    {% if page.twitter-link %}
                    <li style="font-size: smaller;"><a  aria-label="View meme {{ post.image-alt }} on Twitter by Soumyadeep Das"  target="_blank"  rel="noopener noreferrer" href="{{ page.twitter-link | absolute_url }}" class="button icon fa-twitter">&nbsp;View on Twitter</a></li>
                    {% endif %}
                    </ul>
                    <div id="attrdiv" style="padding: 8px; height: 0px; text-align: center; background-color: #fffffa00; font-size: 11pt;">
                    <p style="margin-bottom: 0px;"><b id="attrhead" ></b></p>
                    <p id="attrbody" style="margin-bottom: 5px; margin-top: 0px;"></p>
                    <p id="attrtail" style="margin-top: 0px;"></p>
                  </div>
                        <hr>
                        
                        <p style="font-size: smaller;"><a aria-label="Explore all memes by Soumyadeep Das"  href="{{ 'memepage' | absolute_url  }}" class="button special icon fa-smile-o">View all Memes</a></p>
              </div>
          </div>

          {% include sidebar.html %}

      </div>

      {% include footer.html %}


      {% include lazyload.html %}
      <script>
        function myFunction() {
          document.getElementById("attrdiv").style.height="120px";
          document.getElementById("attrdiv").style.width="380px";
          document.getElementById("attrdiv").style.border="1px solid #777";
          document.getElementById("attrdiv").style.borderRadius="3px";
          document.getElementById("attrdiv").style.backgroundColor="#aaaa0020";
          document.getElementById("attrhead").innerHTML = "Thanks for downloading \'{{ page.title }}\'"; 
          document.getElementById("attrbody").innerHTML = "Don't forget to credit the source.";     
          document.getElementById("attrtail").innerHTML = "OC Meme credits - soumyadeepdas.gitlab.io/memes";

        }
        var button = document.getElementById('btn-download');
          button.addEventListener('click', function (e) {
              var dataURL = canvas.toDataURL('image/jpeg');
              button.href = dataURL;
          });
      </script>

</body>

</html>
