<!DOCTYPE HTML>
<!--
  Editorial by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html lang="en">

{% include head.html %}
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">


  <style>
    .bgturqoiuse{background:#7474bf;background:-webkit-linear-gradient(to right,#348ac7,#7474bf);background:linear-gradient(to right,#348ac7,#7474bf)}.row{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;padding:0 1px}.column{-ms-flex:25%;flex:25%;max-width:25%;padding:0 4px}ul{-webkit-column-count:4;-moz-column-count:4;display:inline-block;vertical-align:middle;column-count:4;list-style-type:none}ul>li{-ms-flex:24%;flex:24%;max-width:24%;display:inline-block;padding:2px;margin:2px;vertical-align:middle}.astrophoto{max-width:100%;max-height:100%;vertical-align:middle}@media only screen and (max-width:1600px){ul{-webkit-column-count:3;-moz-column-count:3;column-count:3;padding:0}ul>li{-ms-flex:33%;flex:33%;padding-bottom:5px;margin-bottom:5px;max-width:33%;padding:0}}@media screen and (max-width:800px){.column{-ms-flex:50%;flex:50%;max-width:50%}ul{-webkit-column-count:2;-moz-column-count:2;column-count:2}ul>li{-ms-flex:50%;flex:50%;max-width:49%}}.topnav{overflow:hidden}.topnav a{float:left;display:block;color:#f2f2f2;text-align:center;padding:14px 16px;text-decoration:none;font-size:12pt;font-family:'Source Sans Pro',Helvetica,sans-serif}.topnav a:hover{color:#000}.topnav a.active{color:#fff}.topnav .icon{display:none}@media screen and (max-width:600px){.topnav a:not(:first-child){display:none}.topnav a.icon{float:right;display:block}}@media screen and (max-width:600px){.topnav.responsive{position:relative}.topnav.responsive a.icon{position:absolute;right:0;top:0}.topnav.responsive a{float:none;display:block;text-align:left}}.pagetitle{align-content:center;text-align:center;color:#fff;padding-top:5px;padding-right:20px;padding-left:20px;padding-bottom:20px;margin-bottom:10px}.pagehead{color:#fff;font-family:'Source Sans Pro',Helvetica,sans-serif;font-size:45pt;margin-bottom:2px;font-weight:500}.pagesubs{color:#fff;font-family:'Source Sans Pro',Helvetica,sans-serif;font-size:12pt;margin-bottom:10px;font-weight:400}@media screen and (max-width:900px){.pagehead{font-size:35pt}.pagesubs{font-size:12pt}}@media screen and (max-width:600px){.pagehead{font-size:25pt}.pagesubs{font-size:11pt}}@media screen and (max-width:480px){.pagehead{font-size:22pt}.pagesubs{font-size:10pt}}.footertxt{background-color:#333;margin-top:20px}.footertxt div{background-image:url(/assets/images/absurdity.png);padding:10px;text-align:center;padding-top:20px;padding-bottom:20px}.footertxt div p{color:#ddd;margin-bottom:0;font-size:11pt;font-family:'Source Sans Pro',Helvetica,sans-serif}.footertxt div p a{color:#ddd;margin-bottom:0;font-size:11pt;font-family:'Source Sans Pro',Helvetica,sans-serif}
  </style>


  <body style="padding-bottom: 0px; background-image: url(/assets/images/arabesque.png);">              

    <!-- Wrapper -->

    <div class="bgturqoiuse">
      <div class="pagetitle" style="background-image: url(/assets/images/dark-dotted-2.png);">
      <div class="topnav" id="myTopnav">
        <b><a href="{{ '#nobanner' | absolute_url }}" class="active">HOMEPAGE</a></b>
        <a href="{{ 'resume' | absolute_url }}">RESUME</a>
        <a href="{{ 'blogs' | absolute_url }}">BLOGS</a>
        <a href="{{ 'repos' | absolute_url }}">REPOS</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
      </div>
      <h2 class="pagehead">Astrophoto Gallery</h2>
      <p class="pagesubs">I love the night sky, especially the moon and the milky way. Here are a few photos I captured and processed. I used <a style="color: white;" target="_blank"  rel="noopener noreferrer" href="https://astroiitbhu.in/"><u>Astronomy Club, IIT (BHU) Varanasi</u></a>'s Canon EOS 700D for capturing most of these images. Detailed descriptions can be found on clicking the images.</p>
    </div>
  </div>

    <div id="wrapper" >


      <!-- Main -->
      <div id="main" >
        <div class="inner" id="myinner" style="margin-left: 5px; margin-right: 5px; padding: 0px;" >
         <!--      {% if page.title != "Home" %}    -->
         <!--           {% endif %} -->
         <!-- Content -->


         <div class="demo-gallery" >
          <ul id="lightgallery" class="list-unstyled row" style="padding: 0px; margin: 0px; " >
            {% for photos in site.data.astrophotos %}
            {% assign remainder = forloop.index | modulo: 3 %}
            <li style="padding: 1px; margin: 0px;" class="col-xs-6 col-sm-4 col-md-3" data-responsive="{{ site.baseurl }}/assets/images/astrophotos/{{ photos.imgname }}-preview-375.jpg 375, {{ site.baseurl }}/assets/images/astrophotos/{{ photos.imgname }}-preview-480.jpg 480, {{ site.baseurl }}/assets/images/astrophotos/{{ photos.imgname }}-preview-800.jpg 800" data-src="{{ site.baseurl }}/assets/images/astrophotos/{{ photos.fullimg }}" data-sub-html="<h4>{{ photos.title }}</h4><p>{{ photos.desc }}</p>">
              <a style="vertical-align: middle;" href="" style="padding: 0px; margin: 0px;">
                <img style="padding: 0px; margin: 0px;" class="img-responsive lazyload astrophoto" src="{{ site.baseurl }}/assets/images/astrophotos/{{ photos.imgname }}-preview-thumb.jpg" alt="{{ photos.desc }}" data-src="{{ site.baseurl }}/assets/images/astrophotos/{{ photos.imgname }}-preview-480.jpg" >
              </a>
            </li>
<!--           {% if remainder == 0 %}
            </div>
            <div id="lightgallery" class="list-unstyled column">
              {% endif %} -->
              {% endfor %}
            </ul>
          </div>

          <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
          <script type="text/javascript">
            $(document).ready(function(){
              $('#lightgallery').lightGallery();
            });
            $(document).ready(function()  {
              console.log(document.getElementById("myinner").clientWidth)
            });

            function myFunction() {
              var x = document.getElementById("myTopnav");
              if (x.className === "topnav") {
                x.className += " responsive";
              } else {
                x.className = "topnav";
              }
            } 
          </script>
        </div>
      </div>

    </div>

    <div class="footertxt">
      <div>
      <p class="copyright">&copy; {{ site.title }}. All rights reserved. Version {{ site.myversion }}. Credits - Photo by <a target="_blank"  rel="noopener noreferrer"  href="https://unsplash.com/@krisroller?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"><u>Kristopher Roller</u></a> on <a target="_blank"  rel="noopener noreferrer"  href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"><u>Unsplash</u></a>. Design: <a target="_blank"  rel="noopener noreferrer"  href="https://html5up.net"><u>HTML5 UP</u></a>. Jekyll integration: <a target="_blank"  rel="noopener noreferrer"  href="https://gitlab.com/u/andrewbanchich"><u>Andrew Banchich</u></a>. I used <a target="_blank"  rel="noopener noreferrer"  href="https://github.com/pankajkumar-official/jquery-image-gallery"><u>jquery-image-gallery</u></a> for creating the astrophoto gallery. Hosted on Gitlab Pages.<br></p>
    </div>
    </div>

    {% include footer.html %}


    {% include lazyload.html %}

  </body>

  </html>
